<%- include("publicheader") -%>

<div>
<h1 class="w3-large w3-margin-top w3-margin-left w3-margin-right"><b>Club President</b></h1>
<i class="fa fa-user w3-xxlarge w3-margin-top w3-margin-left w3-margin-right"></i>
<h2 class="w3-medium user">Leonard Lucheck</h2>
<h2 class="w3-medium w3-margin-left">leonardjlucheck@lewisu.edu</h2>
</div>
<hr>
<div>
  <h1 class="w3-large w3-margin-top w3-margin-left w3-margin-right"><b>Faculty Advisor</b></h1>
  <i class="fa fa-user w3-xxlarge w3-margin-top w3-margin-left w3-margin-right"></i>
  <h2 class="w3-medium user">Dr. Dana Dominiak</h2>
  <h2 class="w3-medium w3-margin-left">dominida@lewisu.edu</h2>
</div>
<hr>
<div>
  <h1 class="w3-large w3-margin-top w3-margin-left w3-margin-right"><b>Webmaster</b></h1>
  <i class="fa fa-user w3-xxlarge w3-margin-top w3-margin-left w3-margin-right"></i>
  <h2 class="w3-medium user">Tyler Starkus</h2>
  <h2 class="w3-medium w3-margin-left">tylerjstarkus@comcast.net</h2>
</div>
<hr>
<div>
  <h1 class="w3-large w3-margin-top w3-margin-left w3-margin-right"><b>Email</b></h1>
  <i class="far fa-envelope w3-xxlarge w3-margin-top w3-margin-left w3-margin-right"></i>
  <h2 class="w3-medium w3-margin-left user">esports@lewisu.edu</h2>
</div>

    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</body>
</html>