<%- include("adminheader") -%>

    <div class="w3-third w3-black">
        Dues
    </div>
    Lewis Esports

    <form action="/documentdue" method="post">
      <p>First Name: <input class="w3-input w3-border w3-light-grey" type="text" name="firstName" maxlength="13" size="13" /></p>
      <p>Last Name: <input class="w3-input w3-border w3-light-grey" type="text" name="lastName" maxlength="30" size="30" /></p>
      <p>Amount: <input class="w3-input w3-border w3-light-grey" type="number" name="amount" maxlength="3" size="30" /></p>
      <input class="top-margin w3-button w3-black" type="submit" name="submit" value="Document due" />
  </form>

  <table class="w3-table-all">
    <th>Dues</th>
    <tr>
      <td><b>First</b></td>
      <td><b>Last</b></td>
      <td><b>Amount</b></td>
    </tr>
    <% for(var i=0; i<dues.length; i++) { %>
      <tr>
        <td><%= dues[i].firstName %></td>
        <td><%= dues[i].lastName %></td>
        <td><%= dues[i].amountPaid %></td>
      </tr>
    <% } %>
  </table>

    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>

    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</body>
</html>