<%- include("publicheader") -%>

<div class="w3-container w3-center w3-xxlarge social-media">
  <a href="https://discord.gg/aPRwxhH"><i class="fab fa-discord w3-margin"></i></a>
  <a href="https://twitter.com/LewisUEsports"><i class="fab fa-twitter w3-margin"></i></a>
  <a href="https://www.twitch.tv/lewisuniversity"><i class="fab fa-twitch w3-margin"></i></a>
</div>

<img class="header-logo" src="/img/eSportsLogo_Color.jpg" alt="Esports Logo">

<div class="w3-card w3-section">
  <a class="twitter-timeline" data-height="450" data-theme="light"
    href="https://twitter.com/LewisUEsports?ref_src=twsrc%5Etfw">Tweets by LewisUEsports</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="text-section">
  <p>If you are a Lewis University student, you can register yourself below. You must be registered to place clothing orders.</p>
</div>

<div class="w3-container">
  <form action="/memberregister" method="post">
    <input class="w3-input w3-border w3-light-grey" name="first" autocomplete="off" placeholder="First name"/>
    <input class="w3-input w3-border w3-light-grey" name="last" autocomplete="off" placeholder="Last name"/>
    <input class="w3-input w3-border w3-light-grey" type="email" name="registeremail" autocomplete="off" placeholder="email"/>
    <input class="top-margin w3-button w3-black register-button" type="submit" name="submit" value="Register" />
  </form>
</div>

<div class="text-section">
  <p>You can sign up below to regularly receive information about club activity.</p>
</div>

<div class="w3-container">
  <form action="/newsletter" method="post">
    <input class="w3-input w3-border w3-light-grey" name="newsfirst" autocomplete="off" placeholder="First name"/>
    <input class="w3-input w3-border w3-light-grey" name="newslast" autocomplete="off" placeholder="Last name"/>
    <input class="w3-input w3-border w3-light-grey" type="email" name="email" autocomplete="off" placeholder="Email"/>
    <input class="top-margin w3-button w3-black register-button" type="submit" name="submit" value="Sign Up" />
  </form>
</div>

<div class="footer">
  <div class="w3-container w3-center w3-xxlarge social-media">
    <a href="https://discord.gg/aPRwxhH"><i class="fab fa-discord w3-margin"></i></a>
    <a href="https://twitter.com/LewisUEsports"><i class="fab fa-twitter w3-margin"></i></a>
    <a href="https://www.twitch.tv/lewisuniversity"><i class="fab fa-twitch w3-margin"></i></a>
  </div>
</div>


</div>

<script>
  function myFunction() {
    var x = document.getElementById("nav");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
</body>

</html>