<%- include("publicheader") -%>


    <div class="w3-third w3-black">
        Login
    </div>
    Lewis Esports

    <div>
      <form action="/checklogin" method="post">
        <p>Username <input class="w3-input w3-border w3-light-grey" type="text" name="firstName" maxlength="13" size="13" /></p>
        <p>Password <input class="w3-input w3-border w3-light-grey" type="text" name="lastName" maxlength="30" size="30" /></p>
        <input class="top-margin w3-button w3-black" type="submit" name="submit" value="Login" />
      </form>
    </div>

    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</body>
</html>