<%- include("adminheader") -%>

    <div class="w3-container">
        <h3>Manage teams</h3>

        <form action="/addteam" method="post">
            <p><b>Add Team</b></p>
            <p>Name: <input class="w3-input w3-border w3-light-grey" type="text" name="newTeam" maxlength="60" size="60" /> </p>
            <input class="w3-button w3-black w3-margin-bottom" type="submit" name="submit" value="Add team" />
        </form>

        <table class="w3-table-all">
            <th>Teams</th>
            <% for(var i=0; i<teams.length; i++) { %>
              <tr>
                <td><%= teams[i] %></td>
              </tr>
            <% } %>
          </table>

    </div>

    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</body>
</html>